name: arm64aws_build

## self runner C++ build hosted on AWS Arm64
## see: https://github.com/marketplace/actions/build-c-project

on: [push]

jobs:
  project-build:
    runs-on: self-hosted # self-hosted runner on AWS

    steps:

    - name: 1. Show CPU Architecture
      run: lscpu

    - name: 2. Checkout this branch of PocketMiner
      uses: actions/checkout@v2.0.0

    - name: 3. Apt install required libraries
      run: |
        sudo apt -y update
        sudo apt -y install libuv1-dev build-essential cmake libmicrohttpd-dev libssl-dev

    # cmake_build_action options at: https://github.com/marketplace/actions/build-c-project
    # replace this with a manual cmake process which customizes the build
    - name: 4. Build binaries
      uses: nicledomaS/cmake_build_action@v1.4
      with:
        cmake_args: -DWITH_HWLOC=OFF;-DCMAKE_BUILD_TYPE=Release;-DWITH_OPENCL=OFF;-DWITH_CUDA=OFF;-DXMRIG_DEPS=${{github.workspace}}/xmrig-deps/gcc/x64/include;-DWITH_CN_LITE=OFF;-DWITH_CN_HEAVY=OFF;-DWITH_CN_PICO=OFF;-DWITH_CN_FEMTO=OFF;-DWITH_RANDOMX=OFF;-DWITH_ARGON2=OFF;-DWITH_KAWPOW=OFF;-DWITH_SECURE_JIT=ON;-DARM_TARGET=8
        submodule_update: ON

    - name: 5. Gather binaries into 'build/binaries/' directory
      run: |
        cd ${{github.workspace}}/build/ && mkdir binaries/
        mv xmrig* binaries/ && ls -la binaries/
        cd binaries/
        echo "build_size=`du -sh xmrigMiner | sed 's/xmrigMiner//'`" >> $GITHUB_ENV

    - name: 6. Run xmrigMiner for 2 minutes to see if it works
      run: |
        cd ${{github.workspace}}/build/binaries/
        sudo chmod +x ./xmrigMiner
        CONFIG=' -o mine.liberty-pool.com:3333 -u dERoQY3fRgQfG2HpErJ3R4YYBx4aPKF19LT5EnzVsTNZZDPFRvNz9VWG7owvJUiGqWjZ1btyDPT6DcgC4QKAQGsg9qWePwEsRc.20000 --tls -k --coin dero -a astrobwt --pause-on-battery --astrobwt-avx2 --astrobwt-max-size=250 --print-time=10 --daemonized '
        sudo timeout 2m ./xmrigMiner $CONFIG || code=$?; if [[ $code -ne 124 && $code -ne 0 ]]; then exit $code; fi

    - name: 7. Upload binaries as zipped artifact # moved temporarily for testing
      id: xmrigcc-binaries
      uses: actions/upload-artifact@v1
      with:
        name: binaries.zip
        path: ${{github.workspace}}/build/binaries

    - name: 8. Create a release
      uses: actions/create-release@v1
      id: create_release
      with:
        draft: true
        prerelease: false
        release_name: "#${{ github.run_number }} - ${{ env.build_size }}"
        tag_name: ${{ github.run_number }}
        body: |
          Changes in this Release:
          - binary size: ${{ env.build_size }}
          - hashrate: ${{ env.hashrate }}
      env:
        GITHUB_TOKEN: ${{ github.token }}

    - name: 9. Upload release artifacts
      uses: actions/upload-release-asset@v1
      env:
        GITHUB_TOKEN: ${{ github.token }} # Provided by Actions
      with:
        upload_url: ${{ steps.create_release.outputs.upload_url }}
        asset_path: ${{github.workspace}}/build/binaries/xmrigMiner
        asset_name: xmrigMiner
        asset_content_type: application/x-executable




